body {
  background-image: url('./assets/Gemini_Generated_Image_4009kb4009kb4009.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
